:root{
    --black:#181414;
    --withe:#d4d4d4;
    --witheplus:rgb(255, 255, 255);
    --blue: rgb(9, 9, 29);
    --background:rgb(2, 3, 19);
    --background-header:#070606;
    --border-card:rgb(46, 41, 41);
    --gray:rgb(95, 95, 95); 
    --redlogo:#dd1d1d;
    
}
@media (max-width: 1200px){

    header .menu,.buscar,.nav{
        display: none;
        padding: none;
   }
    header .logo-hamburgesa{
        display: flex;
        width: 30px;
    }
     main .menu-hamburgesa{
        display: flex;
        position: relative;
        padding-left: 20px;
    }
    header p{
        padding-right: 30px;
    }
    main .menu-burger a{
        text-decoration: none;
        color: var(--withe);
    }
    .menu-burger{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-items: flex-start;
        background-color: var(--background-header);
        width: 150px;
        padding-top: 20px;
        height: 1200px;
        gap: 0px;
        position: fixed;
        top: 94px;
        left: -200px;
        z-index: 1000;
    }
    .menu-hamburgesa-li{
        width: 100%;
        padding-top:20px ;
        padding-bottom:20px ;
        padding-left:20px ;
        padding-right:20px ;
    }
    .menu-hamburgesa-li:hover{
        color: var(--background-header);
        background-color: var(--withe);
    }
    .menu-hamburgesa-li:hover a{
        color: var(--background-header);   
    }
    header .header{
        width: max-content;
        justify-content: center;
        width: 100%;
    }
    main .about-text{
        padding: 50px;
       }
    input{
        display: none;
    }
    #opciones:checked + .menu-burger{
        transition: .5s;
        left: 0px;
    }
    main .card-peliculas{
        padding-left: 5px;
        padding-right: 5px;
    }
     main .cards-series{
        padding-left: 5px;
        padding-right: 5px;
    }
    


    body footer{
    gap: 3px;
    flex-wrap: wrap;
    font-size: 15px;
    padding: 20px;
   }
}
@media (max-width: 576px) {
     header .header {
        position: fixed;
        width: 100%;
        padding: 5px;
        width: 100%;
        justify-content: space-between;
    }
    .menu-hamburgesa-li{
        width: 100%;
        padding-top:10px ;
        padding-bottom:10px ;
        padding-left:10px ;
        padding-right:10px ;
    }
    .menu-burger{
        width: auto;
    }
    .logo-empresa{
        width: 150px;
    }
     header .logo-hamburgesa{
        padding-left: 5px;
        width: 40px;
    }
    header .login {
        font-size: 17px;
        padding-right: 0;
    }
    header p{
        padding-right: 5px;
    }


    .hero .hero-completo{
        height: 50vh;
    }
    .hero .flex-slider-item2, .hero .flex-slider-item3, .hero .flex-slider-item4 {
        display: none;
    }
    .hero .flex-slider-item, .hero .flex-slider-item5{
        flex-basis: 50%;
        
    } 
    .flex-slider{
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
        height: 50%;
        width: 80vw;
    }
    
    

    .cards .card{
        width: 190px;
        height: 386px;
       }
    main   .card .img-principal{
        width: 180px;
        height: 230px;
       }
    main .img-play img{
        position: relative;
        width: 43px;
        right: -14px;
        top: 10px;
      }   
    main .about-text{
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
       }


       /* footer    */
    

    
    footer img , .footer-navegacion , .cuenta {
        display: none;
    }
    body footer{
        padding: 15px;
    }




    /* Cards */


    main .card-peliculas{
        padding-left: 5px;
        padding-right: 5px;
    }
    main .card-series{
        padding-left: 5px;
        padding-right: 5px;
    }
    

              /* Card-canales */

     main .card-canales{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 50px;
        gap: 40px;
     }  
     main .card-canales img{
        width: 130px;
        height: 100px;
    }
}