

/* ......Variables..... */

:root{
  --black:#181414;
  --withe:#d4d4d4;
  --witheplus:rgb(255, 255, 255);
  --blue: rgb(9, 9, 29);
  --background:rgb(2, 3, 19);
  --background-header:#070606;
  --border-card:rgb(46, 41, 41);
  --gray:rgb(95, 95, 95); 
  --redlogo:#dd1d1d;
  
}

/* ......Estilos...... */

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: sans-serif;
}




/* ......HEADER...... */



body{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
  width: 100%;
}

header{
  display: flex;
  position: fixed;
  align-items: center;
  background-color:var(--background-header);
  justify-content: space-between;
  padding: 10px;
  color: var(--withe);
  top: 0px;
  gap: 20px;
  height: 94px;
  width: 100%;
  z-index: 100;
  max-width: 1400px;
}

.logo-hamburgesa{
  display: none;
  width: 30px;
}



/* ......nav...... */




nav{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding: 30px;

  flex-direction: row;
  gap: 40px;
}
nav a{
  text-decoration: none;
  color: var(--withe);
}
.menu{
  display: flex;
  text-align: center;
  align-items: center;
  gap: 50px;
}
.menu-title{
  font-size: 20px;
  font-weight: 60;
  padding-bottom:34px ;
  padding-top: 34px;
}
.menu-title-serie{
  font-size: 20px;
  font-weight: 60;
  padding-bottom:34px ;
  padding-top: 34px;
}
.menu-title:hover{
  background: var(--background-header);
  background: linear-gradient(0deg, var(--background-header) 96%, rgba(255,255,255,1) 96%);
  transition: 0.5s;
}
.menu-title:hover > a{
  color: var(--witheplus);
}
.menu-title-serie:hover > a{
  color: var(--witheplus);
}
.menu-title-serie:hover{
  background: var(--background-header);
  background: linear-gradient(0deg, var(--background-header) 96%, rgba(255,255,255,1) 96%);
  color: var(--witheplus);
  transition: 0.5s;
}
.menu-dropdown li{
  font-size: 17px;
  font-weight:20px;
}
.menu-dropdown-serie li{
  font-size: 17px;
  font-weight:20px;
}
.menu-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background-color: red;
  flex-direction: column;
  overflow: hidden;
  gap: 10px;
  height: 00px;
  top: 93px;
  position:fixed;
}
.menu-dropdown-serie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 7px;
  gap: 10px;
  height: 00px;
  top: 93px;
  left: 458px;
  position:fixed;
}
.menu-title:hover > .menu-dropdown{
  background-color: var(--background-header);
  overflow: hidden;
  height: 124px;
  width: 89px;
  -webkit-transition: height 0.5s ease-out;
  -moz-transition: height 0.5s ease-out;
  -ms-transition: height 0.5s ease-out;
  -o-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
  z-index: 100;
}
.menu-title-serie:hover > .menu-dropdown-serie{
  background-color: var(--background-header);
  overflow: hidden;
  height: 124px;
  width: 80px;
  -webkit-transition: height 0.5s ease-out;
  -moz-transition: height 0.5s ease-out;
  -ms-transition: height 0.5s ease-out;
  -o-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
  z-index: 100;
}





/* ......Items...... */




.menu-items{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu-dropdown li:hover a{
  color: rgb(0, 0, 0);
  background-color: var(--witheplus);
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.menu-dropdown-serie li:hover a{
  color: rgb(0, 0, 0);
  background-color: var(--witheplus);
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}




/* ......Buscador...... */





.buscar input{
  width: 300px;
  height: 30px;
  color: var(--withe);
  background-color: rgb(45, 45, 51);
  border-radius: 10px;
  border: 0px;
  font-size: 18px;
}



/* ......Login...... */




.login{
  text-decoration: none;
  color: var(--withe);
  font-size: 20px;
  font-weight: 60;
  padding-bottom:34px ;
  padding-top: 34px;
  padding-right: 10px;
}
.login:hover{
  background: var(--background-header);
  background: linear-gradient(0deg, var(--background-header) 96%, rgba(255,255,255,1) 96%);
  color: var(--witheplus);
  transition: 0.5s;
} 
.menu-hamburgesa{
  display: none;  
}




/* ......MAIN...... */




main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 12);
  max-width: 1400px;
  
}






/* ......Hero...... */





.hero{
padding-top: 100px;
padding-bottom: 100px;
max-width: 1400px;
}

.hero-completo{
display: flex;
justify-content: center;
align-items: center;
height: 90vh;
}

.flex-slider{
display: flex;
flex-flow: row nowrap;
overflow: hidden;
height: 100%;
width: 98vw;
}

.hero span a{
text-decoration: none;
display: none;
position: relative;
top: 150px;
color: var(--withe);
}

.flex-slider-item{
flex-basis: 25%;
transition: 1000ms ease-in-out;
}
.flex-slider-item-img{
width: 100%;
height: auto;
}
.active:hover{
flex-basis: 60%;
}
.flex-slider-item{
display: flex;
justify-content: center;
align-items: center;
align-content: center;
background:linear-gradient(to right, rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.3)), 
url(./img/topgun.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
-webkit-box-shadow: inset -1px -51px 72px 46px rgba(0,0,0,0.75);
-moz-box-shadow: inset -1px -51px 72px 46px rgba(0,0,0,0.75);
box-shadow: inset -1px -51px 72px 46px rgba(0,0,0,0.75);
}
.flex-slider-item2{
flex-basis: 25%;
transition: 1000ms ease-in-out;
}
.flex-slider-item2-img{
width: 100%;
height: auto;
}
.flex-slider-item2{
display: flex;
justify-content: center;
align-items: center;
align-content: center;
background:linear-gradient(to right, rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.3)), 
url(./img/joker.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
-webkit-box-shadow: inset -1px -51px 72px 46px rgba(0,0,0,0.75);
-moz-box-shadow: inset -1px -51px 72px 46px rgba(0,0,0,0.75);
box-shadow: inset -1px -51px 72px 46px rgba(0,0,0,0.75);
}
.flex-slider-item3{
flex-basis: 25%;
transition: 1000ms ease-in-out;
}
.flex-slider-item3-img{
width: 100%;
height: auto;
}
.flex-slider-item3{
display: flex;
justify-content: center;
align-items: center;
align-content: center;
background:linear-gradient(to right, rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.3)), 
url(./img/avatar.webp);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
-webkit-box-shadow: inset -1px -51px 72px 46px rgba(0,0,0,0.75);
-moz-box-shadow: inset -1px -51px 72px 46px rgba(0,0,0,0.75);
box-shadow: inset -1px -51px 72px 46px rgba(0,0,0,0.75);
}
.flex-slider-item4{
flex-basis: 25%;
transition: 1000ms ease-in-out;
}
.flex-slider-item4-img{
width: 100%;
height: auto;
}
.flex-slider-item4{
display: flex;
justify-content: center;
align-items: center;
align-content: center;
background:linear-gradient(to right, rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.3)), 
url(./img/pinocho.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
-webkit-box-shadow: inset -1px -51px 72px 46px rgba(0,0,0,0.75);
-moz-box-shadow: inset -1px -51px 72px 46px rgba(0,0,0,0.75);
box-shadow: inset -1px -51px 72px 46px rgba(0,0,0,0.75);
}
.flex-slider-item5{
flex-basis: 25%;
transition: 1000ms ease-in-out;
}
.flex-slider-item5-img{
width: 100%;
height: auto;
}
.flex-slider-item5{
display: flex;
justify-content: center;
align-items: center;
align-content: center;
background:linear-gradient(to right, rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.3)), 
url(./img/spiderman.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
-webkit-box-shadow: inset -1px -51px 72px 46px rgba(0,0,0,0.75);
-moz-box-shadow: inset -1px -51px 72px 46px rgba(0,0,0,0.75);
box-shadow: inset -1px -51px 72px 46px rgba(0,0,0,0.75);
}

.flex-slider-item-text{
margin-left: 5%;
margin-right: 5%;
}
.flex-slider-item-text{
font-weight: 100;
font-size: 24px;
transition: 350ms ease-in-out;
}
.active:hover .flex-slider-item-text{
font-size: 2.4vw;
}
.flex-slider-item:hover span a{
display: flex;
}
.flex-slider-item2:hover span a{
display: flex;
}
.flex-slider-item3:hover span a{
display: flex;
}
.flex-slider-item4:hover span a{
display: flex;
}
.flex-slider-item5:hover span a{
display: flex;
}






/* ......About...... */






.about{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.about-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--withe);
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
}
.about-text a{
  text-decoration: none;
  color: var(--witheplus);
  padding-top:100px;
}
.about-text h3{
  font-size: 30px;
  padding-bottom: 60px;
}
.about-text p{
  font-size: 20px;
}





/* ......Contact...... */





.contact{
  display: flex;
  gap: 40px;
  padding-top:100px;
  padding-bottom: 50px;
}
.contact img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
}


/* ......Cards...... */


.cards-title{
  font-size: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 30px;
}
.cards-title a{
  text-decoration: none;
  color: var(--withe);
}
.card-peliculas{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.cards-series{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.card{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
width: 230px;
border: 1px solid var(--border-card);
border-radius: 4px;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #24243e, #09062b, #0f0c29);
  background: linear-gradient(to top, #13133b, #000000, #0f0c29); 
-webkit-box-shadow: 0px 0px 25px 6px rgba(255,255,255,0.06);
  -moz-box-shadow: 0px 0px 25px 6px rgba(255,255,255,0.06);
  box-shadow: 0px 0px 25px 6px rgba(255,255,255,0.06);
}
.card:hover{
transform: scale(1.03,1.03);
transition: .3s;
  border-color: var(--withe);
}
.card .img-principal{
width: 220px;
height: 270px;
padding-top: 3px;
border-radius: 5px;
}
.img-play img{
width: 55px;
}
.img-play img:hover{
transform: scale(1.1,1.1);
transition: .2s;
}
.card .img-play{
width: 10px;
position: relative;
top: -35px;
left: -90px;
}
.star{
position: relative;
top: -15px;
}
.material-icons{
color: rgb(247, 224, 22);
}
.card-text{
display: flex;
  align-items: center;
  justify-content: center;
flex-direction: column;
gap: 10px;
color: var(--withe);
position: relative;
top: -30px;
left: -5px;
}
.card-text h2{
  font-size: 20px;
}
.card-text p{
  font-size: 15px;
}





.card-canales{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 150px;
  gap: 120px;
}
.card-canales img{
  width: 160px;
  height: 130px;
  border-radius: 20px;
  border: 2px solid var(--border-card);
}
.card-canales a{
  padding: 0px;
}
.card-canales-a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(56, 54, 54, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.card-canales-a:hover, .card-canales-a:focus, .card-canales-a:active {
  box-shadow: 0 10px 10px -10px rgba(95, 94, 94, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} 





/* ......Footer...... */



footer{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--background-header);
  width: 100%;
  color: var(--withe);
  padding: 40px;
  max-width: 1400px;
}
footer a{
  text-decoration: none;
  color: var(--withe);
}
footer h4{
  font-size: 18px;
  padding-bottom: 10px;
}
.footer-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer a:hover{
  color: var(--witheplus);
}
